<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Users</title>
</head>
<body>
<div class="form-block" th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><a class="btn btn-success" th:href="@{user-update/{id}(id=${user.id})}"
                       title="Изменить пользователя">E</a>&nbsp;
                    <a class="btn btn-danger" th:href="@{user-delete/{id}(id=${user.id})}"
                       title="Удалить пользователя">X</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="/user-create">Добавить пользователя</a>
    </p>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
</html>