<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title>Create user</title>
</head>
<body>
<div class="form-block">
    <form  action="#" th:action="@{/user-update/*{id}}" th:object="${user}" method="post">
        <label class="form-label" for="id">ID</label>
        <input class="form-control" readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        <br/>
        <label class="form-label" for="firstName">First name</label>
        <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <br/>
        <label class="form-label" for="lastName">Last name</label>
        <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <br/>
        <input class="btn btn-primary" type="submit" value="Записать изменения">
    </form>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>